  <div class="col-sm-6 col-sm-offset-3">
    <h1><%= @cocktail.name %></h1>

    <table class="table table-striped">
      <tbody>
        <table class='table'>
        <%= render @doses %>
    </table>
      </tbody>
    </table>

    <div>
      <%= link_to 'Edit', edit_cocktail_path(@cocktail), class: 'btn btn-primary' %>
      <%= link_to 'Back', cocktails_path, class: 'btn btn-primary' %>
      <%= link_to 'Add Dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>
    </div>
  </div>
